<div class="d-flex align-items-center" style="height: 100vh;">
    <div class="nav flex-column nav-pills col-3 bg-dark h-100 d-flex align-items-center justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <img src="assets/img/juan1-1.jpg" alt="" class="w-50 rounded-circle mb-5 border border-3">
      <button class="nav-link my-1 w-50 active  botonescv" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Biografía</button>
      <button class="nav-link my-1 w-50 botonescv" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Experiencia</button>
      <button class="nav-link my-1 w-50 botonescv" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Habilidades</button>
      <button class="nav-link my-1 w-50 botonescv" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Futuro</button>
    </div>
    <div class="tab-content col-9 d-flex align-items-center justify-content-center" id="v-pills-tabContent" style="height: 100vh; background-color: #000000;">
      <div class="tab-pane fade active show  mx-5 text-light" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <h1 class="">JUAN <span class="" style="color: #bd5d38;">OSORIO</span></h1>
        <h3 class="">LA CALERA, CUNDINAMARCA · COLOMBIA 251201 · +57 321-717-6479 · <a href="mailto: jcamilo0911@gmail.com" class="text-decoration-none" style="color: #bd5d38;">JCAMILO0911@GMAIL.COM</a></h3>
        <h5 class=" mt-5">Aprendiz de desarrollo web, Javascript, Html y Css. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae ut cumque repellat ipsa veniam aliquid, molestiae veritatis minus id eligendi nisi voluptates consectetur iure? Sed!</h5>
        <div class="d-flex py-5">
          <a class="text-decoration-none" target="_blank" href="https://github.com/JuanOso">
            <div class="bg-light mx-2  rounded-circle redes">
              <i class="fs-4 text-dark fab fa-github mx-2"></i>
            </div>
          </a>
          <a class="text-decoration-none" target="_blank" href="https://www.linkedin.com/in/juan-camilo-osorio-bedoya-938b8a182/">
            <div class="bg-light mx-2  rounded-circle redes">
              <i class="fs-4 text-dark fab fa-linkedin-in mx-2"></i>
            </div>
          </a>
          <a class="text-decoration-none" target="_blank" href="https://www.facebook.com/juancamilo.osoriobedoya.5/">
            <div class="bg-light mx-2  rounded-circle redes">
              <i class="fs-4 text-dark fab fa-facebook-f mx-2"></i>
            </div>
          </a>
          <a class="text-decoration-none" target="_blank" href="https://twitter.com/camilo0911">
            <div class="bg-light mx-2  rounded-circle redes">
              <i class="fs-4 text-dark fab fa-twitter mx-2"></i>
            </div>
          </a>
          
        </div>    
  
      </div>
      <div class="tab-pane fade text-light mx-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h1 style="color: #bd5d38;">Experiencia</h1>
        <h2 class="my-4">Torneos Jucob</h2>
        <p>He liderado una organización de torneos de fútbol amateur en Bogotá por poco mas de 6 años, fue creada por mi cuando tenía 20 años. 
          En promedio juegan 130 equipos por temporada, el equipo de logística para llevar acabo los eventos que en su mayoría son los domingos, somos alrededor de 15 personas.
          Esto me ha dado habilidades sobre liderar un equipo de trabajo y en atencion al cliente</p>
        <h2 class="my-4">Tecnología</h2>
        <p>Como implementación a la empresa contraté a terceros para crear una app en android para el seguimiento del torneo por parte de los participantes.
          Este proceso con mi poco conocimiento fue liderado por mí, Hace poco le hice una actualización visual donde el Diseño UI fue hecho por una Afgana y el desarrollo en kotlin fue hecho por un Egipcio. <br> 
          El proceso fue minuciosamente supervisado por mí, busqué y contraté los freelancers. Actualmente la app tiene 600 usuarios activos con mas de 1.000 descargas en su historia. Estuvo un tiempo disponible 
          en IOS pero debido a los costos de app store y los pocos usuario que tenía en este sistema operativo, decidí darle de baja para los usuarios de apple.  
        </p>
        <p>
          La pagina web fue desarrollada en Wordpress, dejo de tener soporte así que decidí aprender sobre este CMS y en 2021 rediseñé por completo el sitio, implementando mejores practicas y mejorando la experiencia en 
          el sitio, esto hizo que el SEO mejorara, pasamos de estar en la segunda página de Google a estar entre los 3 primeros resultados en poco menos de 8 meses, en algunas categorías somos el primer resultado. 
        </p>
        <h2 class="my-4">Desarrollos</h2>
          <p>Hasta el día de hoy he desarrollado sitios en Wordpress, 2 Ecommerce y 2 páginas informativas, de las cuales 2 están activas actualmente que son 
            <a class=" text-light" href="https://www.jucob.com/">jucob.com</a>  y <a class="text-light" href="https://tiendavalu.com/">tiendavalu.com </a></p>  
      </div>
      <div class="tab-pane fade text-light mx-5 w-100 " id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <h1 class="my-4">Habilidades</h1>
        <h4 class="mb-3">Aprendiz de estos lenguajes y herramientas</h4>
        <div class="d-flex ">
          <div class="bg-light mx-2  rounded-circle iconos-tech">
            <i class="fs-4 text-dark mx-2 fab fa-html5"></i>
          </div>
          <div class="bg-light mx-2  rounded-circle iconos-tech">
            <i class="fs-4 text-dark mx-2 fab fa-css3-alt"></i>
          </div>
          <div class="bg-light mx-2  rounded-circle iconos-tech">
            <i class="fs-4 text-dark mx-2 fab fa-js"></i>
          </div>
          <div class="bg-light mx-2  rounded-circle iconos-tech">
            <i class="fs-4 text-dark mx-2 fab fa-angular"></i>
          </div>
          <div class="bg-light mx-2  rounded-circle iconos-tech">
            <i class="fs-4 text-dark mx-2 fab fa-node"></i>
          </div>
          <div class="bg-light mx-2  rounded-circle iconos-tech">
            <i class="fs-4 text-dark mx-2 fab fa-wordpress"></i>
          </div>
         
        </div>
        <h3 class="mt-5 mb-3">Intermedio</h3>
        <ul>
          <li>Wordpress</li>
          <li>Inglés: B1</li>
        </ul>
      </div>
      <div class="tab-pane fade text-light mx-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <h1>Futuro</h1>
        <p>
          Mi objetivo aparte de seguir fortaleciendo las habilidades en JavaScript es aprender un nuevo lenguaje, en el que 
          estoy más interesado es Python, debido a su versatilidad en varias áreas.
        </p>
        <p>
          También tengo como objetivo aprender mas acerca de ciber seguridad, el mundo necesita mas personas capacitadas en 
          este ámbito y en un futuro la necesidad será aún mayor.
        </p>  
      </div>
    </div>
    
  </div>
  
